/WarriorProject/nbproject/private/
/WarriorProject/WarriorProject-war/nbproject/private/
/WarriorProject/WarriorProject-ejb/nbproject/private/
/WarriorProject/WarriorProject-ejb/build/
/WarriorProject/WarriorProject-ejb/dist/
/WarriorProject/WarriorProject-war/build/
/WarriorProject/build/
/WarriorProject/WarriorProject-war/dist/
/WarriorProject/dist/
WarriorProject/nbproject/project.properties
WarriorProject/src/conf/META-INF/glassfish-resources.xml
WarriorProject/WarriorProject-ejb/nbproject/project.properties
WarriorProject/WarriorProject-ejb/src/conf/META-INF/glassfish-resources.xml
WarriorProject/WarriorProject-ejb/src/conf/persistence.xml
WarriorProject/WarriorProject-war/nbproject/project.properties
WarriorProject/nbproject/project.properties
WarriorProject/src/conf/META-INF/glassfish-resources.xml
WarriorProject/WarriorProject-ejb/nbproject/project.properties
WarriorProject/WarriorProject-ejb/src/conf/META-INF/glassfish-resources.xml
WarriorProject/WarriorProject-ejb/src/conf/persistence.xml
WarriorProject/WarriorProject-war/nbproject/project.properties
