/WarriorProject/nbproject/private/
/WarriorProject/WarriorProject-war/nbproject/private/
/WarriorProject/WarriorProject-ejb/nbproject/private/
/WarriorProject/WarriorProject-ejb/build/
/WarriorProject/WarriorProject-ejb/dist/
/WarriorProject/WarriorProject-war/build/
/WarriorProject/build/
/WarriorProject/WarriorProject-war/dist/
/WarriorProject/dist/